apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: rfqw
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: rfqw
    app.kubernetes.io/part-of: byoc-app-ivbx
  name: rfqw
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: rfqw
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: rfqw
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-pexw-tenant/byoc-app-ivbx/rfqw@sha256:a989f9b523e99488f351a9b25c017e0a7a35a30014f04315c004db0bd30a9ffe
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
